#IntelliJ Configuration Files
.idea/
**/*.iml

# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.zip
*.tar.gz
*.rar

# Output Directory
target/

# Exeception for the modules in case they are accidentally excluded
!ierislib.*/
