###Jetbrains IDE
# Configuration file for the JetBrains IDEs
.idea/
*.iml

## Explicitly allowed configuration files
!.idea/copyright/

###Java
# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.zip
*.tar.gz
*.rar

### Maven
# Output Directory
target/